

.container {
    background-color: darkgoldenrod;
    display: flex;
    justify-content: space-around;
    color: cornsilk;
    margin: 50px 0 50px 0;
    padding: 20px 0 20px 0;
    width: 100%;
    height: 20%;
}

.container__block {
    background-color: blueviolet;
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
    border-color:deeppink;
    border: 2px solid;
    width: auto;
    max-height: 50px;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-style: italic;
    font-size: 20px;
}
.circle {
    width: 50px;
    height: 50px;
    background: red;
    border-radius: 50%;
    position: absolute;
    top: -20px;
    left: 0;
}

.container__block:first-child {
    width: 300px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}